.search {
  width: 550px;
}

.select {
  width: 150px;
  margin-bottom: 4px;

}

.panelSearchAndSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
  border: 1px solid var(--color-dark-500);
  th {
    background-color: var(--color-dark-500);
  }
  th, td {
    text-align: left;
    border-bottom: 1px solid var(--color-dark-500);
    padding: 20px 30px;
  }
}