.main {
  width: 100%;
  table-layout: fixed;
  margin: 50px 0 30px 0;

  th {
    border-bottom: 2px solid var(--color-dark-100);
    width: 25%;
    text-align: center;
    cursor: pointer;
  }

  .active {
    color: var(--color-accent-500);
    border-bottom: 2px solid var(--color-accent-500);
  }
}

