.container {
  .block {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 15rem;
  }
}

.Imglist {
  grid-column: 1;

  width: 25rem;
  height: 33.4rem;
  padding-top: 1.5rem;

  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
