
.postCommentsView {
  //flex-basis: 450px;
  //flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  width: 50rem;
  //max-width: 500px;
  min-height: 350px;
  padding-top: 20px;
}

@media (width <= 576px) {
  .postCommentsView {
    justify-content: flex-start;
  }
}
