@mixin tool() {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  opacity: 0.8;
  background-color: var(--color-dark-500);
  border-radius: 2px;
}

@mixin table_styles() {
  width: 100%;
  border: 1px solid var(--color-dark-500);

  th {
    background-color: var(--color-dark-500);
  }

  th,
  td {
    padding: 20px 30px;
    text-align: left;
    border-bottom: 1px solid var(--color-dark-500);
  }
}

@mixin table_photo() {
  border-collapse: separate;
}

.table td {
  padding: 5px;
  border: 1px solid black;
}

.table tr td:first-child {
  padding-left: 0;
}

.table tr td:last-child {
  padding-right: 0;
}
